@model Model.Alumno

@{ 
    ViewBag.Title = "Inicio";
    List<Model.Alumno> alumnos = ViewBag.Alumnos;
}
<h2 class="page-header">Index</h2>

<p>Hola, me pasaron este valor:<b>@ViewBag.Algo</b></p>
dfgfdgdfg